*,
*::before,
* ::after {
    box-sizing: border-box;

}

:root {
    --hue-neutral: 200;
    --hue-wrong: 5;
    --hue-correct: 145;
}

body {
    background-color: black;
    padding: 0;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.container {
    margin: auto;
    max-width: 80%;
    background-color: transparent;
    padding: 10px;

}

.results {
    background-color: transparent;
    margin: auto;
    max-width: 60%;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 10px 0;
}

.btn {
    --hue: var(--hue-neutral);
    border: 2px solid hsl(var(--hue), 100%, 15%);
    background-color: hsl(var(--hue), 100%, 35%);
    border-radius: 5px;
    color: rgb(190, 191, 191);
    outline: none;
}

.btn:focus {
    background-color: hsl(var(--hue), 100%, 25%);
}

.btn:hover {
    box-shadow: 0 0 10px 2px;
    border-color: rgb(49, 23, 4);
}

.btn.correct {
    --hue: var(--hue-correct);
    color: black;
}

.btn.wrong {
    --hue: var(--hue-wrong);
}

.finish-btn,
.next-btn {

    font-size: 0, 5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 10px;
    margin: 10px 0;



}

.hide {
    display: none;
}

#question,
#SuccessRate {
    color: rgb(190, 191, 191);

}

#scoreID {
    color: #CcCC00
}

#failItemsID {
    color: #FF3333;
}

#successItemsID {
    color: #00cc00
}

.disabled {
    pointer-events: none;
}

.result-class-child {

    display: inline-block;
    margin: auto;
    padding: 5px;


}

h3 {
    text-align: center;
    margin: 10px 0;
}

.inputClass {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 5px;
    margin-left: 10%;
}

#inputClassTxt {
    margin-bottom: 5%;
}

#timer {
    color: rgb(190, 191, 191);
}

h3 {
    color: rgb(190, 191, 191);
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;

}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.neutralcircleColor {
    background-color: #bbb
}



.pulse {


    cursor: pointer;
    animation: pulse 1s infinite;
}


@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgb(204, 169, 44);
    }

    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0.453);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.389);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgb(204, 169, 44);
        box-shadow: 0 0 0 0 rgb(204, 169, 44);
    }

    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0.366);
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0.304);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.305);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.189);
    }
}
